<!doctype <!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static' , filename = 'css/indexmain.css')}}">
         <link rel="stylesheet" href="{{url_for('static' , filename = 'css/nevbarVertical.css')}}">
          <link rel="stylesheet" href="{{url_for('static' , filename = 'css/display.css')}}">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>
        <div class="topnav" id="myTopnav">
        <a href="/logout" class = "active">Logout</a>
        <a href="#" class="active">wellcome {{userName}}</a>
        </div>

        <div class = "verticalNevBar">
            <a class="active" href="/dashbord">Dashbord</a>
            <a href="/search">Search</a>
            <a href="/csv">Upload Csv File</a>
            <a href="/display">Display</a>
        </div>

        <div class="box">
            <form action  =  "/display" method = "POST" >
         <select name = "displayFormate">
            <option value = "bribery">bribery</option>
            <option value = "corruption">corruption</option>
            <option value = "defamation">defamation</option>
            <option value = "fraud" >fraud</option>
            <option value = "scam" >scam</option>
        </select>

          <input type="text" class = "inputodd" placeholder="Search.." name="companyName">
          <button type="submit" class = "buttonodd" ><i class="fa fa-search"></i></button>
          </form>
    </div>
    </body>
</html>