<!DOCTYPE HTML>

<html>
    <body>
      <form action  = "/display" method = "POST" >

            <select name = "displayFormate">

                <option value = "bribery" >Urls of bribery</option>
                <option value = "corruption" >urls of corruption</option>
                <option value = "defamation" >urls of defamation</option>
                <option value = "fraud" >urls of fraud</option>
                <option value = "scam" >urls of scam</option>
                <option value = "all" >All urls</option>
            </select>

            <input type = "text" name = "companyName" placeholder = "Company Name" />

            <button type = "submit" >submit</button>
        </form>
     </body>
</html>