
    {% extends 'base.html' %}


    
    {% block body%} 
        <div class="box">
	        <form action  = "/" method = "POST" >
		        <span class="text-center">Login</span>

	        <div class="input-container">		
		        <input type="text" name = "empId" required=""/>
		        <label>Employ Id </label>
	         </div>
            <div class="input-container">		
		        <input type="password" name = "password" required=""/>
		        <label>Password </label>
	         </div>

		    <button type="submit" class="btn">Login</button>
        </form>	

        <p class = "lastText" >Create New Account <a href ="/signup">Signup</a></p>
    </div>
        
        
 {% endblock %} 