
    {% extends 'base.html' %}


    
    {% block body%} 
        <div class="box">
	        <form action  = "/signup" method = "POST">
		        <span class="text-center">Sign Up</span>
	            <div class="input-container">
		        <input type="text" name = "empName" required=""/>
		        <label>Name</label>		
	            </div>
	        <div class="input-container">		
		        <input type="text" name = "empId" required=""/>
		        <label>Employ Id </label>
	         </div>
            <div class="input-container">		
		        <input type="password" name = "password1" required=""/>
		        <label>Password </label>
	         </div>
            <div class="input-container">		
		        <input type="password" name = "password2" required=""/>
		        <label>Again Password </label>
	         </div>
		    <button type="submit" class="btn">Sign Up</button>
        </form>	

        <p class = "lastText" >Account already present <a href ="/">Login</a></p>
    </div>
 {% endblock %} 